name: AI PR Review k

on:
  issue_comment:
    types: [created]

permissions:
  contents: read
  pull-requests: write
  issues: write

concurrency:
  group: ai-pr-review-${{ github.event.issue.number }}
  cancel-in-progress: true

jobs:
  ai-review:
    if: github.event.issue.pull_request && contains(github.event.comment.body, '/ai-review')
    runs-on: ubuntu-latest
    
    steps:
      # - name: React to comment
      #   uses: actions/github-script@v7
      #   with:
      #     script: |
      #       await github.rest.reactions.createForIssueComment({
      #         owner: context.repo.owner,
      #         repo: context.repo.repo,
      #         comment_id: context.payload.comment.id,
      #         content: 'eyes'
      #       });
        
      - name: AI Code Reviewer
        # uses: kofoworolaogunleye/review-action/actions/ai_pr_reviewer@main
        uses: oaknational/oak-ai-pr-reviewer/actions/pr_reviewer@ENG-1351-implement-inline-reviews
        with:
          openai_api_key: ${{ secrets.OPENAI_API_KEY }}
          comment_id: ${{ github.event.comment.id }}
          
      # - name: React to comment on success
      #   if: success()
      #   uses: actions/github-script@v7
      #   with:
      #     script: |
      #       await github.rest.reactions.createForIssueComment({
      #         owner: context.repo.owner,
      #         repo: context.repo.repo,
      #         comment_id: context.payload.comment.id,
      #         content: '+1'
      #       });
            
      # - name: React to comment on failure
      #   if: failure()
      #   uses: actions/github-script@v7
      #   with:
      #     script: |
      #       await github.rest.reactions.createForIssueComment({
      #         owner: context.repo.owner,
      #         repo: context.repo.repo,
      #         comment_id: context.payload.comment.id,
      #         content: '-1'
      #       });